<app-perfil-nav></app-perfil-nav>
<div class="container-body">
    <app-carrusel-dash class="carrusel-dash"></app-carrusel-dash>
    <div class="novedades">
        <p class="titulo-novedades">Novedades</p>
        <carousel>
            <slide>
                <div class="cards-novedades">
                    <app-init-cards></app-init-cards>
                    <app-init-cards></app-init-cards>
                    <app-init-cards></app-init-cards>
                    <app-init-cards></app-init-cards>
                </div>
            </slide>
            <slide>
                <div class="cards-novedades">
                    <app-init-cards></app-init-cards>
                    <app-init-cards></app-init-cards>
                    <app-init-cards></app-init-cards>
                    <app-init-cards></app-init-cards>
                </div>
            </slide>
        </carousel>
    </div>
</div>